<%- layout('/layouts/boilerplate.ejs') %>

<div class="container m-auto row mt-5">
    <div class="col-9">
        <div class="mega-container">
            <div class="allCards">
            
                <% for(let item of thisUser.favorites) { %>
                    <a class="card_link" href="/listings/<%= item._id %>">
                        <div class="itemCard">
                            <div class="img_card">
                                <img class="card-img-top card_img" src=<%= item.image.url %> alt="Hotel Image">
                            </div>
                            <div class="card_texts">
                                <h3><%= item.title %></h3>
                                <div><span><%= item.location %></span> | <span><%= item.country %></span></div>
                                <div class="priceDiv">
                                    <h3>&#8377;<%= item.price.toLocaleString('en-IN') %>/night</h3>
                                    <p class="tax-show"> + 10% GST</p>
                                </div>
                                <div class="likes-count">
                                    <i class="fa-solid fa-heart"></i>
                                    <p><%= item.likes.length %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                <% } %>
            </div>
        </div>
    </div>
</div>