<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings | RoomRentals</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body> -->

    <% layout('/layouts/boilerplate.ejs') %>
    <!-- <div class="header">
        <h2>All Rooms Available</h2>
        <form action="/listings/new" method="get" class="add_form">
            <button class="add_btn">+</button>
        </form>
    </div> -->
    <div class="listings">

        <div class="filter_nav">
            <div class="filters">
                <div class="filter">
                    <i class="fa-solid fa-mountain"></i>
                    <p>Mountains</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-fire"></i>
                    <p>Trending</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-umbrella-beach"></i>
                    <p>Beaches</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-person-swimming"></i>
                    <p>Pools</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-cow"></i>
                    <p>Farms</p>
                </div>
                <div class="filter">
                    <i class="fa-solid fa-city"></i>
                    <p>Cities</p>
                </div><div class="filter">
                    <i class="fa-solid fa-tents"></i>
                    <p>Camping</p>
                </div><div class="filter">
                    <i class="fa-solid fa-gopuram"></i>
                    <p>Temples</p>
                </div>
            </div>
            <div class="form-check form-switch form-check-reverse tax_switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Prices with Taxes</label>
                <input class="switch form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
        </div>

        <h2 class="listing_heading">Explore</h2>
        <div class="allCards">
            
            <% for(let item of data) { %>
                <a class="card_link" href="/listings/<%= item._id %>">
                    <div class="itemCard">
                        <div class="img_card">
                            <img class="card-img-top card_img" src=<%= item.image.url %> alt="Hotel Image">
                        </div>
                        <div class="card_texts">
                            <h3><%= item.title %></h3>
                            <div><span><%= item.location %></span> | <span><%= item.country %></span></div>
                            <div class="priceDiv">
                                <h3>&#8377;<%= item.price.toLocaleString('en-IN') %>/night</h3>
                                <p class="tax-show"> + 10% GST</p>
                            </div>
                            <div class="likes-count">
                                <i class="fa-solid fa-heart"></i>
                                <p><%= item.likes.length %></p>
                            </div>
                        </div>
                    </div>
                </a>
                
            <% } %>
        </div>
    </div>

    <!-- For the Switch Button -->
    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        let showTax = document.querySelectorAll('.tax-show');
        taxSwitch.addEventListener('click',()=>{
            for(one of showTax)
            {
                if(one.style.display!="inline")
                {
                    one.style.display="inline";
                }
                else{
                    one.style.display="none";
                }
            }
        });
    </script>
    